<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infra.conexao" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infra.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Infra.ConnectionDb.Conexao" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Financa;Integrated Security=True" />
        <add name="ControleFinanceiro.Infra.ConnectionDb.Conexao" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=financeiro;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <Infra.conexao>
            <setting name="conexao" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Financa;Integrated Security=True</value>
            </setting>
        </Infra.conexao>
    </userSettings>
    <applicationSettings>
        <Infra.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Financa;Integrated Security=True</value>
            </setting>
        </Infra.Settings1>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
