<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleFinanceiro.View.Properties.Settings.financeiroConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=financeiro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControleFinanceiro.View.Properties.Settings.financeiroConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=financeiro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
